<a href="https://colab.research.google.com/github/Magadriraghu/Python-library/blob/main/Employee_turnover_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Employee Turnover Prediction using pandas:**                     

Steps followed in this prediction:                         
-->importing and loading dataset                               
-->Data cleaning(removing duplicates)                          
-->Exploratory Data Analysis[EDA](Summary statistics for numerical columns)                                         
-->Checking the distribution of the target variable and correaltion analysis                                    
-->Average values of features for employees                    
-->Feature Engineering                       
-->Data Transformations and one-hot-encoding                      
-->Turnover Insights                            
-->pivot table for deeper analysis[Additional]               
-->Exporting Cleaned Data

In [ ]:
# Importing pandas
import pandas as pd

In [ ]:
# Loading the dataset
df = pd.read_csv('HR.csv')

In [ ]:
print(df.columns)

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'Average_monthly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'high_hours', 'salary_low', 'salary_medium',
       'sales_RandD', 'sales_accounting', 'sales_hr', 'sales_management',
       'sales_marketing', 'sales_product_mng', 'sales_sales', 'sales_support',
       'sales_technical'],
      dtype='object')

In [ ]:
# Step 1: Data Cleaning
# Checking for missing values
print("Missing values:\n", df.isnull())

Missing values:
        satisfaction_level  last_evaluation  number_project  \
0                   False            False           False
1                   False            False           False
2                   False            False           False
3                   False            False           False
4                   False            False           False
...                   ...              ...             ...
14994               False            False           False
14995               False            False           False
14996               False            False           False
14997               False            False           False
14998               False            False           False

       average_montly_hours  time_spend_company  Work_accident   left  \
0                     False               False          False  False
1                     False               False          False  False
2                     False               False          False  False
3                     False               False          False  False
4                     False               False          False  False
...                     ...                 ...            ...    ...
14994                 False               False          False  False
14995                 False               False          False  False
14996                 False               False          False  False
14997                 False               False          False  False
14998                 False               False          False  False

       promotion_last_5years  sales  salary
0                      False  False   False
1                      False  False   False
2                      False  False   False
3                      False  False   False
4                      False  False   False
...                      ...    ...     ...
14994                  False  False   False
14995                  False  False   False
14996                  False  False   False
14997                  False  False   False
14998                  False  False   False

[14999 rows x 10 columns]

In [ ]:
print("Missing values:\n", df.isnull().sum())

Missing values:
 satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [ ]:
# Removing duplicates
df.drop_duplicates(inplace=True)

In [ ]:
# Step 2: Exploratory Data Analysis (EDA)
# Summary statistics for numerical columns such as count,mean,std,min,max for each column
print("\nSummary statistics:\n", df.describe())

Summary statistics:
        satisfaction_level  last_evaluation  number_project  \
count        11991.000000     11991.000000    11991.000000
mean             0.629658         0.716683        3.802852
std              0.241070         0.168343        1.163238
min              0.090000         0.360000        2.000000
25%              0.480000         0.570000        3.000000
50%              0.660000         0.720000        4.000000
75%              0.820000         0.860000        5.000000
max              1.000000         1.000000        7.000000

       average_montly_hours  time_spend_company  Work_accident          left  \
count          11991.000000        11991.000000   11991.000000  11991.000000
mean             200.473522            3.364857       0.154282      0.166041
std               48.727813            1.330240       0.361234      0.372133
min               96.000000            2.000000       0.000000      0.000000
25%              157.000000            3.000000       0.000000      0.000000
50%              200.000000            3.000000       0.000000      0.000000
75%              243.000000            4.000000       0.000000      0.000000
max              310.000000           10.000000       1.000000      1.000000

       promotion_last_5years
count           11991.000000
mean                0.016929
std                 0.129012
min                 0.000000
25%                 0.000000
50%                 0.000000
75%                 0.000000
max                 1.000000

In [ ]:
# Checking the distribution of the target variable 'left'
print("\nDistribution of left (turnover):\n", df['left'].value_counts())
#in output,if the left = 0,that employee has not left the company
#if left = 1,it indicates that employee has left the company

Distribution of left (turnover):
 left
0    10000
1     1991
Name: count, dtype: int64

In [ ]:
# Correlation analysis
# Selecting only numerical features for correlation analysis
numerical_features = df.select_dtypes(include=['number'])
correlation_matrix = numerical_features.corr()
print("\nCorrelation matrix:\n", correlation_matrix)
#if correlation = +1,consider it as positive correlation
#if correlation = -1,consider it as negative correlation
#if correlation = 0,consider it as no correlation

Correlation matrix:
                        satisfaction_level  last_evaluation  number_project  \
satisfaction_level               1.000000         0.095186       -0.133246
last_evaluation                  0.095186         1.000000        0.270256
number_project                  -0.133246         0.270256        1.000000
average_montly_hours            -0.006252         0.264678        0.331516
time_spend_company              -0.152915         0.096829        0.188837
Work_accident                    0.039940        -0.005695       -0.005612
left                            -0.350558         0.013520        0.030928
promotion_last_5years            0.019789        -0.007206       -0.000544

                       average_montly_hours  time_spend_company  \
satisfaction_level                -0.006252           -0.152915
last_evaluation                    0.264678            0.096829
number_project                     0.331516            0.188837
average_montly_hours               1.000000            0.102875
time_spend_company                 0.102875            1.000000
Work_accident                     -0.012860            0.000003
left                               0.070409            0.173295
promotion_last_5years             -0.004964            0.056828

                       Work_accident      left  promotion_last_5years
satisfaction_level          0.039940 -0.350558               0.019789
last_evaluation            -0.005695  0.013520              -0.007206
number_project             -0.005612  0.030928              -0.000544
average_montly_hours       -0.012860  0.070409              -0.004964
time_spend_company          0.000003  0.173295               0.056828
Work_accident               1.000000 -0.125436               0.029852
left                       -0.125436  1.000000              -0.044657
promotion_last_5years       0.029852 -0.044657               1.000000

In [ ]:
# Average values of features for employees who left vs. stayed
# Excluding non-numeric columns before calculating the mean
turnover_summary = df.groupby('left').mean(numeric_only=True)  # Include numeric_only=True
print("\nAverage feature values by turnover status:\n", turnover_summary)

Average feature values by turnover status:
       satisfaction_level  last_evaluation  number_project  \
left
0               0.667365         0.715667        3.786800
1               0.440271         0.721783        3.883476

      average_montly_hours  time_spend_company  Work_accident  \
left
0                198.94270            3.262000       0.174500
1                208.16223            3.881467       0.052737

      promotion_last_5years
left
0                  0.019500
1                  0.004018

In [ ]:
# Step 3: Feature Engineering
# Creating a binary column for high monthly hours
# Correcting the column name
df['high_hours'] = pd.cut(df['Average_monthly_hours'], bins=[0, 200, 250, 300], labels=[0, 1, 2])
# Corrected typo from 'average_montly_hours' to 'average_monthly_hours'

In [ ]:
#before changing name called average monthly column name
print(df.columns)

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary', 'high_hours'],
      dtype='object')

In [ ]:
# Corrected typo from 'average_montly_hours' to 'Average_monthly_hours'
df.rename(columns={'average_montly_hours': 'Average_monthly_hours'}, inplace=True)
df

,satisfaction_level,last_evaluation,number_project,Average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary,high_hours
0,0.38,0.53,2,157,3,0,1,0,sales,low,0
1,0.80,0.86,5,262,6,0,1,0,sales,medium,2
2,0.11,0.88,7,272,4,0,1,0,sales,medium,2
3,0.72,0.87,5,223,5,0,1,0,sales,low,1
4,0.37,0.52,2,159,3,0,1,0,sales,low,0
...,...,...,...,...,...,...,...,...,...,...,...
11995,0.90,0.55,3,259,10,1,0,1,management,high,2
11996,0.74,0.95,5,266,10,0,0,1,management,high,2
11997,0.85,0.54,3,185,10,0,0,1,management,high,0
11998,0.33,0.65,3,172,10,0,0,1,marketing,high,0
11999,0.50,0.73,4,180,3,0,0,0,IT,low,0

In [ ]:
#after chnaging the average monthly column name
print(df.columns)

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'Average_monthly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'high_hours', 'salary_low', 'salary_medium',
       'sales_RandD', 'sales_accounting', 'sales_hr', 'sales_management',
       'sales_marketing', 'sales_product_mng', 'sales_sales', 'sales_support',
       'sales_technical'],
      dtype='object')

In [ ]:
# Step 4: Data Transformation (If you want to one-hot encode other columns)

# Specify the columns you want to one-hot encode
columns_to_encode = [] # Replace with the actual column names (if any)

# Apply pd.get_dummies only to the specified columns
if columns_to_encode:
  df = pd.get_dummies(df, columns=columns_to_encode, drop_first=True)

# Display the updated DataFrame
print(df.head())

   satisfaction_level  last_evaluation  number_project  Average_monthly_hours  \
0                0.38             0.53               2                    157
1                0.80             0.86               5                    262
2                0.11             0.88               7                    272
3                0.72             0.87               5                    223
4                0.37             0.52               2                    159

   time_spend_company  Work_accident  left  promotion_last_5years high_hours  \
0                   3              0     1                      0          0
1                   6              0     1                      0          2
2                   4              0     1                      0          2
3                   5              0     1                      0          1
4                   3              0     1                      0          0

   salary_low  salary_medium  sales_RandD  sales_accounting  sales_hr  \
0        True          False        False             False     False
1       False           True        False             False     False
2       False           True        False             False     False
3        True          False        False             False     False
4        True          False        False             False     False

   sales_management  sales_marketing  sales_product_mng  sales_sales  \
0             False            False              False         True
1             False            False              False         True
2             False            False              False         True
3             False            False              False         True
4             False            False              False         True

   sales_support  sales_technical
0          False            False
1          False            False
2          False            False
3          False            False
4          False            False

In [ ]:
# Replace True/False with 1/0 for specific columns or the entire DataFrame
for column in df.select_dtypes(include=['bool']).columns:
    df[column] = df[column].astype(int)
df

,satisfaction_level,last_evaluation,number_project,Average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,high_hours,salary_low,salary_medium,sales_RandD,sales_accounting,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical
0,0.38,0.53,2,157,3,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
1,0.80,0.86,5,262,6,0,1,0,2,0,1,0,0,0,0,0,0,1,0,0
2,0.11,0.88,7,272,4,0,1,0,2,0,1,0,0,0,0,0,0,1,0,0
3,0.72,0.87,5,223,5,0,1,0,1,1,0,0,0,0,0,0,0,1,0,0
4,0.37,0.52,2,159,3,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,0.90,0.55,3,259,10,1,0,1,2,0,0,0,0,0,1,0,0,0,0,0
11996,0.74,0.95,5,266,10,0,0,1,2,0,0,0,0,0,1,0,0,0,0,0
11997,0.85,0.54,3,185,10,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
11998,0.33,0.65,3,172,10,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
11999,0.50,0.73,4,180,3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Step 5: Turnover Insights
# Grouping by 'left' to get average satisfaction, hours, and time_spent in the company for each group
insights = df.groupby('left').agg({
    'satisfaction_level': 'mean',
    'Average_monthly_hours': 'mean',
    'time_spend_company': 'mean'
})
print("\nTurnover Insights:\n", insights)

Turnover Insights:
       satisfaction_level  Average_monthly_hours  time_spend_company
left
0               0.667365              198.94270            3.262000
1               0.440271              208.16223            3.881467

In [ ]:
# Optional: Additional pivot table for deeper analysis
pivot_insights = df.pivot_table(index='left', values=['satisfaction_level', 'Average_monthly_hours', 'time_spend_company'])
print("\nPivot table insights:\n", pivot_insights)

Pivot table insights:
       Average_monthly_hours  satisfaction_level  time_spend_company
left
0                 198.94270            0.667365            3.262000
1                 208.16223            0.440271            3.881467

In [ ]:
# Step 6: Exporting Cleaned Data
# Exporting the cleaned and processed data to a new CSV for model building
df.to_csv('cleaned_employee_data.csv', index=False)

# **Final Analysis and Insights**
**RECOMMENDATIONS:**                                             
Based on the predictions and insights,

**-->**Highlight Key Turnover Factors: Identify the most
influential factors in employee turnover, such as low satisfaction, high working hours, or specific departments.                                  

**-->**Provide Recommendations: Suggest areas of improvement for employee retention.
For example:
Increase satisfaction by offering more feedback and engagement activities.
Manage workload by monitoring average monthly hours.
Provide growth opportunities, especially for employees with longer tenure and high performance.                 
**-->**Report on Predicted Turnover: Use the model to predict the probability of turnover for current employees and flag high-risk individuals or departments for potential intervention.

This predictive approach provides actionable insights for HR teams to proactively manage turnover and make data-informed decisions to retain valuable employees.