<a href="https://colab.research.google.com/github/Magadriraghu/Python-library/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas library in python

Recently i have learnt pandas functions and their uses.Now i want to practice more and if u want to learn pandas learn from this.Definitely it is useful for you in a easy and understandable way.
#Pandas
 Pandas is used for data manipulation, analysis, and preprocessing.

*In Pandas,we have two types for dimensionality and structuring of data.
They are: A.Series
          B.Data Frames

-->A Series is known as a 1-dimensional labeled array. It's like a single column or row of data with an index, so you can think of it as a labeled list or an individual column from a DataFrame.                                        
-->A DataFrame is referred to as a 2-dimensional labeled data structure. It's similar to a table in a relational database, with rows and columns that each have labels (index and column names).

In [ ]:
#installation of pandas
import pandas as pd

In [ ]:
#difference between dataframes and series
#series
#difference between dataframes and series
#series
a = pd.Series([10,23,45,34,56,63,4])
print(a)
#dataframe
b = {'Name':['Father','mother','brother'],
     'Age':[50,45,24],
     'occupation': ['Businessman','teacher','student']}
b = pd.DataFrame(b)
print(b)

0    10
1    23
2    45
3    34
4    56
5    63
6     4
dtype: int64
      Name  Age   occupation
0   Father   50  Businessman
1   mother   45      teacher
2  brother   24      student

In [ ]:
#head() is used to print upper part of the data
#if you want to print first 3 values of series from series then we write it as
print(a.head(3))
#if you want to print first 2 values of series from dataframe then we write it as
print(b.head(2))

0    10
1    23
2    45
dtype: int64
     Name  Age   occupation
0  Father   50  Businessman
1  mother   45      teacher

In [ ]:
#tail() is opposite to head()
#it print lower part of data
#a is for series and b is for dataframe
print(a.tail(2))
print(b.tail(2))

5    63
6     4
dtype: int64
      Name  Age occupation
1   mother   45    teacher
2  brother   24    student

In [ ]:
#info is used to get all information in detailed manner
print(a.info())

<class 'pandas.core.series.Series'>
RangeIndex: 7 entries, 0 to 6
Series name: None
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 184.0 bytes
None

In [ ]:
#dtypes() is used for knowing the datatype of available data
print("Series data type is:",a.dtypes)
print("dataframe data type is:",b.dtypes)

Series data type is: int64
dataframe data type is: Name          object
Age            int64
occupation    object
dtype: object

In [ ]:
#shape() is used to show no of rows and columns
print(a.shape)#as the series ,there is no rows and contains only columns it shows only no of vcolumns only
print(b.shape)#shows no of rows and columns

(7,)
(3, 3)

In [ ]:
#size() is for no of elements present in series and dataframes
print(a.size)
print(b.size)

7
9

In [ ]:
print(a.describe)
print(b.describe)

<bound method NDFrame.describe of 0    10
1    23
2    45
3    34
4    56
5    63
6     4
dtype: int64>
<bound method NDFrame.describe of       Name  Age   occupation
0   Father   50  Businessman
1   mother   45      teacher
2  brother   24      student>

In [ ]:
import pandas as pd
c = pd.DataFrame({'ex1':[10,23,45,34,56,63,11],
                 'ex2':[1,5,3,4,5,5,6]})
print(c.describe())

             ex1       ex2
count   7.000000  7.000000
mean   34.571429  4.142857
std    21.093894  1.676163
min    10.000000  1.000000
25%    17.000000  3.500000
50%    34.000000  5.000000
75%    50.500000  5.000000
max    63.000000  6.000000

In [ ]:
print(a.ndim)
print(b.ndim)

1
2

In [ ]:
#unique is used to disappear repeated elements and each element print once
d = pd.Series([8,8,3,5,7,9,9,6,4])
print(d.unique)
#nunique is opposite to unique,it will print series as it is
print(d.nunique)
print(b['Name'].unique)

<bound method Series.unique of 0    8
1    8
2    3
3    5
4    7
5    9
6    9
7    6
8    4
dtype: int64>
<bound method IndexOpsMixin.nunique of 0    8
1    8
2    3
3    5
4    7
5    9
6    9
7    6
8    4
dtype: int64>
<bound method Series.unique of 0     Father
1     mother
2    brother
Name: Name, dtype: object>

In [ ]:
#isnull or isna is used to check the null values
#if is there any null value it will print "true" otherwise "false"
print(a.isnull)
print(b.isnull)
e = {'ex1':['y','z',None],
    'ex2':[0,None,1]}
e = pd.DataFrame(e)
print(e.isnull)

<bound method Series.isnull of 0    10
1    23
2    45
3    34
4    56
5    63
6     4
dtype: int64>
<bound method DataFrame.isnull of       Name  Age   occupation
0   Father   50  Businessman
1   mother   45      teacher
2  brother   24      student>
<bound method DataFrame.isnull of     ex1  ex2
0     y  0.0
1     z  NaN
2  None  1.0>

In [ ]:
#fillna is used to replace something in place of null values
print(e.fillna(9))

  ex1  ex2
0   y  0.0
1   z  9.0
2   9  1.0

In [ ]:
#clip is used to generate random numbers
print(a.clip(9,12))

0    10
1    12
2    12
3    12
4    12
5    12
6     9
dtype: int64

In [ ]:
#index is used for knowing about no of elements in series
#columns is used to check columns in data for dataframe
print(a.index)
print(b.columns)

RangeIndex(start=0, stop=7, step=1)
Index(['Name', 'Age', 'occupation'], dtype='object')

In [ ]:
#sort_values are used to arrange the elements in ascending order
print(a.sort_values())
print(b['Age'].sort_values())

6     4
0    10
1    23
3    34
2    45
4    56
5    63
dtype: int64
2    24
1    45
0    50
Name: Age, dtype: int64

In [ ]:
#to arrange in descending order
print(a.sort_values(ascending=False))
print(b['Age'].sort_values(ascending=False))

5    63
4    56
2    45
3    34
1    23
0    10
6     4
dtype: int64
0    50
1    45
2    24
Name: Age, dtype: int64

In [ ]:
#value_counts is used for counting each element and displaying that how many times it was repeated
print(d.value_counts())

8    2
9    2
3    1
5    1
7    1
6    1
4    1
Name: count, dtype: int64

In [ ]:
#nlargest() used to print largest value from series
print(a.nlargest())
#nsmallest() used to print smallest value from series
print(a.nsmallest())

5    63
4    56
2    45
3    34
1    23
dtype: int64
6     4
0    10
1    23
3    34
2    45
dtype: int64

In [ ]:
#nlargest() used to print largest value from dataframe
print(b['Age'].nlargest())
#nsmallest() used to print smallest value from dataframe
print(b['Age'].nsmallest())

0    50
1    45
2    24
Name: Age, dtype: int64
2    24
1    45
0    50
Name: Age, dtype: int64

In [ ]:
#copy() is used to reprint data
print(b.copy())
print(a.copy())

      Name  Age   occupation
0   Father   50  Businessman
1   mother   45      teacher
2  brother   24      student
0    10
1    23
2    45
3    34
4    56
5    63
6     4
dtype: int64

In [ ]:
#loc() is used for knowing the elements as per index
print(a.loc[4])
print(b.loc[1])

56
Name           mother
Age                45
occupation    teacher
Name: 1, dtype: object

In [ ]:
#iloc() is used for elements find by index
print(a.iloc[0])
print(b['Name'].iloc[0])

10
Father

In [ ]:
#rename() is used for change the existed name
print(b.rename(columns={'Name':'Father', 'Name':'Relation'}))

  Relation  Age   occupation
0   Father   50  Businessman
1   mother   45      teacher
2  brother   24      student

In [ ]:
#where() is used to print requirements as per conditions
print(b.where(b['Age']>40))

     Name   Age   occupation
0  Father  50.0  Businessman
1  mother  45.0      teacher
2     NaN   NaN          NaN

In [ ]:
#drop() is used to delete the values with index accordingly
print(d.drop(1))

0    8
2    3
3    5
4    7
5    9
6    9
7    6
8    4
dtype: int64